h1 {
	font-size: 20px;
	color: #5C85FF;
	font-family:Arial;
	text-align:center;
}
div {
	font-family: Arial;
	font-size:15px;
	text-align:center;
}
img {
    float:right;
}
body {
	border: 1px solid black;
}